node_modules
dist
build
artifacts
*.lock
*.json
*.md
*.sql
*.png
*.jpg
*.svg
*.ico
vite.config.ts
drizzle.config.ts
server/vite.ts
tailwind.config.ts
postcss.config.js
capacitor.config.ts
scripts/
client/public/
